* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.header {
    padding-top: 13px;
    padding-bottom: 13px;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .header .container img {
        width: 165px;
    }
}
.header .container .links {
    position: relative;
}
.header .container .links .borgger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
}
@media (min-width: 991px) {
    .header .container .links .borgger-menu {
        display: none;
    }
}
.header .container .links span {
    width: 20px;
    height: 3px;
    background-color: black;
}
.header .container .links span:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
}
.header .container .links ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
@media (max-width: 991px) {
    .header .container .links ul {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: absolute;
        right: 0;
        top: calc(100% + 20px);
        background: #f7f7f7;
        min-width: 200px;
        z-index: 100;
        display: none;
    }
    .header .container .links:hover ul {
        display: block;
    }
}
.header .container .links ul li:not(:last-child) {
    margin-right: 25px;
}
@media (max-width: 991px) {
    .header .container .links ul li {
        display: block;
        width: 100%;
        
    }
    .header .container .links ul li:not(:last-child) {
        margin-right: 0;
    }
}
.header .container .links ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition-duration: 0.3s;
}
@media (max-width: 991px) {
    .header .container .links ul li a {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .header .container .links ul li:not(:last-child) a {
        border-bottom: 1px solid black;
    }
}
.header .container .links ul li a.active {
    color: #D22727;
    position: relative;
}
@media (max-width: 991px) {
    .header .container .links ul li a.active {
        border-bottom: 1px solid #D22727;
    }
}
.header .container .links ul li a:hover {
    color: #D22727;
}
.header .container .links ul li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #D22727;
}
@media (max-width: 991px) {
    .header .container .links ul li a.active::after {
        display: none;
    }
}
.landing-section {
    height: calc(100vh - 84px);
    background-image: url(../images/landing-section.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.landing-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}
.landing-section .container .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
@media (max-width: 767px) {
    .landing-section .container .content {
        top: 50%;
        left: 50%;
    transform: translate(-50%, -50%);
    }
}
.landing-section .container .content .name {
    color: #414141;
    margin-bottom: -30px;
}
.landing-section .container .content h1 {
    color: white;
    font-weight: 500;
    width: 500px;
    font-size: 50px;
    line-height: normal;
}
@media (max-width: 767px) {
    .landing-section .container .content h1 {
        font-size: 30px;
        width: 250px;
        margin-top: 35px;
    }
}
.landing-section .container .content .buttons {
    display: flex;
    align-items: center;
}
.landing-section .container .content .buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
@media (max-width: 767px) {
    .landing-section .container .content .buttons a {
        width: 125px;
        height: 45px;
        font-size: 18px;
    }
}
.landing-section .container .content .buttons a:first-child {
    margin-right: 20px;
}
/* Component */
.special-margin {
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-header {
    font-size: 48px;
    font-weight: 500;
    width: fit-content;
    border-bottom: solid 2px #D22727;
    margin-top: 0;
    margin-bottom: 35px;
}
@media (max-width: 767px) {
    .main-header {
        font-size: 35px;
    }
}
.boxes {
    display: grid;
    gap: 20px;
}
.small {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.large {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
    .large {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
.container .boxes .box {
    text-align: center;
}
.container .boxes .box img {
    max-width: 100%;
}
.container .boxes .box h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}
.container .boxes .box a {
    padding: 7px 33px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
}
@media (max-width: 767px) {
    .container .boxes .box a {
        padding: 5px 22px;
        font-size: 14px;
        font-weight: 500;
    }
}
a.more {
    display: block;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    padding: 10px 30px;
    background: linear-gradient(90deg, #2E7AC0, #D22727);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
@media (max-width: 767px) {
    a.more {
        padding: 8px 20px;
        font-size: 17px;
        font-weight: 500;
    }
}
a.blue {
    background-color: #2E7AC0;
}
a.red {
    background-color: #D22727;
}
.pages_background {
    background-image: url(../images/pages_cover.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.pages_background::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
}
.pages_background h1 {
    position: relative;
    color: white;
    font-size: 50px;
    font-weight: 600;
    z-index: 1;
}
@media (max-width: 767px) {
    .pages_background h1 {
        font-size: 38px;
    }
}
/* Component */
.courses .container .boxes .box .language {
    font-size: 14px;
    color: #545454;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 15px;
}
.courses .container .boxes .box .language span {
    color: black;
    font-weight: 600;
}
.notes {
    background-image: url(../images/Note_section_background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
}
.notes::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.90);
}
.notes .container {
    position: relative;
    z-index: 1;
}
.courses_page .container .boxes .box .language {
    font-size: 14px;
    color: #545454;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 15px;
}
.courses_page .container .boxes .box .language span {
    color: black;
    font-weight: 600;
}
.books_page {
    height: 25vh;
}
.activities_page {
    height: 25vh;
}
.soon_page {
    height: 25vh;
}
.container .soon {
    background-color: black;
    width: 550px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin: 50px auto;
}
@media (max-width: 767px) {
    .container .soon {
        width: 276px;
        height: 125px;
        font-size: 25px;
    }
}
footer {
    padding: 20px;
    background-color: #1A1A1A;
}
footer div {
    color: white;
    text-align: center;
}
footer div a {
    text-decoration: none;
    color: #2E7AC0;
    margin-left: 5px;
}